<% provide(:title, "Help") %>
<!DOCTYPE html>
 <html>
   <head>
     <title><%= yield(:title) %> | Welcome to BookStore</title>
   </head>
   <body>
      <h1>Help</h1>
       <p>
       Get help on the BookStore at the
       <a href="#">BookStore help
       section</a>.
       To get help choose some book, see the
       <a href="#"><em>BookStore</em>book</a>.
       </p>
  </body>
</html>